body{
transition:0.3s;
}

.producto img{

height:220px;
object-fit:cover;

}

.card{

transition:0.3s;

}

.card:hover{

transform:scale(1.03);
box-shadow:0 8px 20px rgba(0,0,0,0.3);

}

.dark-mode{

background:black;
color:white;

}

.dark-mode .card{

background: black;
color:white;

}

.dark-mode input,
.dark-mode textarea,
.dark-mode select{

background:black;
color:white;
border:1px solid #555;

}

.dark-mode .navbar{

background:#000 !important;

}